# ===== IntelliJ IDEA =====
.idea/
*.iml

# ===== Compiled files =====
out/
target/
bin/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Temporary files =====
*.tmp
*.swp
*.bak
